<div class="rating-edit">
  <h1><%= t('ratings.editpage') %> '<%= @product.title %>'</h1>

  <%= form_tag("/products/#{@product.id}/ratings/#{@rating.id}", method: :put) %>
  <%= text_field_tag 'title' %>
  <%= text_field_tag 'body' %>
  <%= select_tag 'stars', options_for_select([0,1,2,3,4,5], 0) %>
  <%= submit_tag %>
</div>
